@model ReportViewModel

<head>
    @{
        ViewData["Title"] = "Generate Report";
        ViewData["Description"] = "Here you can generate report for downloads of a resource on a specific day. There are two option: generate it now as a excel file or generate it late and send it via email.";
        ViewData["Keywords"] = "report, generate, generate report, email, now, later, excel, download, resource";
        ViewData["Author"] = "Dimitar Rachev";
    }
    <style>
        .row {
            display: flex;
            justify-content: space-between;
        }

        .column {
            width: 48%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .form-group {
            margin-top: 10px;
        }

        h2 {
            text-align: center;
            margin-bottom: 15px;
        }

    </style>
</head>

<body>

    <div class="row">

        <div class="column">

            <form method="post" asp-action="GenerateReport">

                <h2>Generate Report Now</h2>

                <div class="form-group">
                    <label asp-for="DateOfReport" class="control-label">Choose Date for the Report:</label>
                    <input type="date" asp-for="DateOfReport" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="DateOfReport" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Generate Report" class="btn btn-primary btn-lg" asp-action="GenerateReport" />
                </div>

            </form>

        </div>

        <div class="column">

            <form method="post" asp-action="GenerateReportPerTime">

                <h2>Generate Report Later</h2>

                <div class="form-group">
                    <label asp-for="DayOfExecution" class="control-label">Choose Date to Generate Report:</label>
                    <input asp-for="DayOfExecution" class="form-control" />
                    <span asp-validation-for="DayOfExecution" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfReport" class="control-label">Choose Date for the Report:</label>
                    <input type="date" asp-for="DateOfReport" class="form-control" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    <span asp-validation-for="DateOfReport" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Schedule Report" class="btn btn-primary btn-lg" asp-action="GenerateReportPerTime" />
                </div>

            </form>

        </div>
        <div class="column">
            <form method="post" enctype="multipart/form-data" asp-controller="Resource" asp-action="ImportReportData">
                <div class="column">
                    <div class="form-group">
                        <label for="fileInput">Upload Excel File:</label>
                        <input type="file" id="fileInput" name="file" class="form-control-file">
                        <small class="form-text text-muted">Select the Excel file to include in the report.</small>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Import Data</button>
            </form>

        </div>

    </div>

</body>


