@using MelonBookshelf.Data
@model ResourcePageViewModel

@{
    ViewData["Title"] = "List of Resources";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="text-center">
            <h1>Resources</h1>
        </div>
        <div>
            <a asp-controller="Resource" asp-action="Create" class="btn btn-success">Add New Resource</a>
        </div>
        <partial name="_SearchBar" />
        <div id="tableContainer">
            @Html.Partial("_ResourceTable", @Model)
        </div>
        <div id="editPartial"> </div>
    </div>
</div>

<script>
    function clearSearch() {
        document.querySelector('form').reset();
    }
    function edit(resourceId) {
        var editLink = document.getElementById("editResourceLink");
        //editLink.href = editLink.href.replace("", resourceId);
        $('#editModal').modal('show');
    }
    function showModal() {
        $('#editModal').modal('show');
    }
    function hideModal() {
        $('#editModal').modal('hide');
    }
</script>
