@using MelonBookshelf.Data
@model ResourcePageViewModel

<head>
    @{
        ViewData["Title"] = "All Resources";
        ViewData["Description"] = "Here you can see all resource available.";
        ViewData["Keywords"] = "resource, available, all resources, list";
        ViewData["Author"] = "Dimitar Rachev";
    }
</head>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="text-center">
            <h1>Resources</h1>
        </div>
        <div>
            <a asp-controller="Resource" asp-action="Create" class="btn btn-success">Add New Resource</a>
        </div>
        <p></p>
        <partial name="_SearchBar" />
        <div id="tableContainer">
            @Html.Partial("_ResourceTable", @Model)
        </div>
        <div id="editPartial"> </div>
    </div>
</div>

<script>
    function clearSearch() {
        document.querySelector('form').reset();
    }
    function edit(resourceId) {
        var editLink = document.getElementById("editResourceLink");

        $('#editModal').modal('show');
    }
    function showModal() {
        $('#editModal').modal('show');
    }
    function hideModal() {
        $('#editModal').modal('hide');
    }
</script>
