@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!-- Add the necessary Bootstrap CSS and JS files to enable dropdown functionality -->

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity?.Name
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" asp-controller="User" asp-action="Details" asp-route-userName="@User.Identity.Name">Your profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a></li>
            </ul>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>
