@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager



<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="btn-group dropstart">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                @User.Identity?.Name
            </button>
            <ul class="dropdown-menu">
                <li>
                    <!-- Add a button with a dark theme -->
                    <button class="btn btn-dark-theme" onclick="toggleDarkTheme()">
                        Dark Theme
                    </button>
                </li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="Details" asp-route-userName="@User.Identity.Name">Your profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" asp-controller="User" asp-action="Logout">Logout</a></li>
            </ul>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
        </li>
    }
</ul>

<script>
    function toggleDarkTheme() {
        var button = document.querySelector('.btn-dark-theme');
        button.classList.toggle("dark-theme");
        $,post("/User/DarkTheme");
    }
</script>

<!-- Dark theme button styles -->
<style>
    .btn-dark-theme {
        background-color: #343a40;
        color: #fff;
    }
    .btn-dark-theme.dark-theme {
        background-color: #f7f0f0; /* Change this to the desired background color for the button when dark theme is active */
    }
</style>
