@model UserChangePasswordViewModel

<form id="changePassForm" method="post" asp-action="ChangePassword" aria-hidden="true" style="display: none;">
<h2>Change Password</h2>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="control-label"></label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <button class="btn btn-outline-success float-right" asp-action="ChangePasswordConfirm" asp-route-username="@Model.Username">Save</button>
    </div>
</form>