@model UserLoginViewModel

<form id="formOldPassword" class="post-using-ajax" data-ajax="true" data-ajax-method="post" data-ajax-mode="replace" data-ajax-update="#changePasswordContainer" data-ajax-success="hideChangePassButtonShowChangePassField()" asp-controller="User" asp-action="Login">
    <div class="modal fade" id="oldPasswordModal" tabindex="-1" role="dialog" aria-labelledby="oldPasswordModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="oldPasswordModalLabel">Old Password</h5>
                    <button type="button" class="close" onclick="hideOldPasswordModal()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="UserName" />
                    <input type="hidden" asp-for="CommingViewName"/>
                    <div class="modal-body"></div>
                    <div class="form-group">
                        <input type="submit" value="Continue" class="btn btn-outline-success float-right" id="passwordLink" asp-action="Login" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
