@model UserViewModel

 <form asp-action="Edit">
<div class="form-group text-start">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control"  />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>
<div class="form-group text-start">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control"  />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>
<div class="form-group text-start">
    <label asp-for="Email" class="control-label"></label>
    <input asp-for="Email" class="form-control"  />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>
<div class="form-group text-start">
    <label asp-for="PhoneNumber" class="control-label"></label>
    <input asp-for="PhoneNumber" class="form-control"  />
    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
</div>
 <div class="form-group text-start">
            <label asp-for="City" class="control-label"></label>
        <input asp-for="City" class="form-control"  />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
<div>
        <input type="hidden" asp-for="Username" />
</div>
<div class="form-group d-grid gap-2 mt-3">
    <button type="submit" class="btn btn-outline-success btn-block" asp-action="Edit">Edit</button>
</div>
</form>
