@model UserViewModel

@{
    ViewData["Title"] = "Users";
}
<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Resource`s details</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-4">
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" readonly />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" readonly />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn btn-outline-success" asp-action="" asp-route-id="@Model.Id">Edit</a>
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All Users</a>
                </div>

            </div>
        </div>
    </div>
</div>