@model UserViewModel

@{
    ViewData["Title"] = "List of Users";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="align-middle">
            <a class="btn btn-outline-secondary" asp-action="Register">
                <i class="bi bi-pencil-square"></i>Register
            </a>
            <a class="btn btn-outline-primary" asp-action="Login"><i class="bi bi-pencil-square"></i>Login</a>
        </div>
    </div>
</div>

