@model CategoryPageViewModel

@{
    ViewData["Title"] = "List of Categories";
}
@*<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" id="deleteCategoryLink" asp-action="Delete" asp-route-id="">Delete</a>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="text-center">
            <h1>Categories</h1>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div>
                <a asp-controller="Category" asp-action="Create" class="btn btn-outline-success">Add New Category</a>

            </div>
        }
        <div id="tableContainer">
            @Html.Partial("_CategoryTable", @Model)           
        </div>
        <div id="confirmDeletePartial"></div>
    </div>
</div>



<script>  
    function confirmDelete(categoryId) {
        var deleteLink = document.getElementById("deleteCategoryLink");
        deleteLink.href = deleteLink.href.replace("", categoryId);
        $('#deleteConfirmationModal').modal('show');
    }
    function showModal() {
        $('#deleteConfirmationModal').modal('show');
    }
    function hideModal() {
        $('#deleteConfirmationModal').modal('hide');
    }
    
    function cancelDelete(){
        var cancelLink = document.getElementById("cancelCategoryLink");
        cancelLink.href = cancelLink.href.replace("");
        $("cancel").click(
            function () {
                hideModal();
            }
        );;
    }


</script>
