@model CategoryPageViewModel

@{
    ViewData["Title"] = "List of Categories";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Browse and manage categories.">
    <meta name="keywords" content="categories, list, management, MelonBookshelf">
    <meta name="author" content="Your Name">

    <!-- Open Graph Tags -->
    <meta property="og:title" content="List of Categories - Melon Bookshelf">
    <meta property="og:description" content="Browse and manage categories.">
  @*  <meta property="og:url" content="@HttpContext.Current.Request.Url.AbsoluteUri">*@
    <meta property="og:image" content="URL_to_your_image_if_available">

    <title>@ViewData["All Categories"]</title>

    <!-- Include your CSS and JavaScript files here -->
</head>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="text-center">
            <h1>Categories</h1>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div>
                <a class="btn btn-success" asp-action="Create" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#createPartial" data-ajax-success="showCreateModal()"><i class="bi bi-trash"></i>Add New Category</a>

            </div>
        }
        <div id="tableContainer">
            @Html.Partial("_CategoryTable", @Model)           
        </div>
        <div id="confirmDeletePartial"></div>
        <div id="editPartial"></div>
        <div id="createPartial"></div>
    </div>
</div>



<script>  
    function confirmDelete(categoryId) {
        var deleteLink = document.getElementById("deleteCategoryLink");
        deleteLink.href = deleteLink.href.replace("", categoryId);
        $('#deleteConfirmationModal').modal('show');
    }
    function showModal() {
        $('#deleteConfirmationModal').modal('show');
    }
    function hideModal() {
        $('#deleteConfirmationModal').modal('hide');
    }

    function edit(resourceId) {
        var editLink = document.getElementById("editCategoryLink");
        //editLink.href = editLink.href.replace("", resourceId);
        $('#editModal').modal('show');
    }
    function showEditModal() {
        $('#editModal').modal('show');
    }
    function hideEditModal() {
        $('#editModal').modal('hide');
    }

    function create() {
        var createLink = document.getElementById("createCategoryLink");
        //editLink.href = editLink.href.replace("", resourceId);
        $('#createModal').modal('show');
    }
    function showCreateModal() {
        $('#createModal').modal('show');
    }
    function hideCreateModal() {
        $('#createModal').modal('hide');
    }

</script>
