@model CategoryPageViewModel

@{
    ViewData["Title"] = "List of Categories";
}
@*<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this category?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" id="deleteCategoryLink" asp-action="Delete" asp-route-id="">Delete</a>
            </div>
        </div>
    </div>
</div>*@

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="text-center">
            <h1>Categories</h1>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div>
                <a class="btn btn-success" asp-action="Create" data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#createPartial" data-ajax-success="showCreateModal()"><i class="bi bi-trash"></i>Add New Category</a>

            </div>
        }
        <div id="tableContainer">
            @Html.Partial("_CategoryTable", @Model)           
        </div>
        <div id="confirmDeletePartial"></div>
        <div id="editPartial"></div>
        <div id="createPartial"></div>
    </div>
</div>



<script>  
    function confirmDelete(categoryId) {
        var deleteLink = document.getElementById("deleteCategoryLink");
        deleteLink.href = deleteLink.href.replace("", categoryId);
        $('#deleteConfirmationModal').modal('show');
    }
    function showModal() {
        $('#deleteConfirmationModal').modal('show');
    }
    function hideModal() {
        $('#deleteConfirmationModal').modal('hide');
    }

    function edit(resourceId) {
        var editLink = document.getElementById("editCategoryLink");
        //editLink.href = editLink.href.replace("", resourceId);
        $('#editModal').modal('show');
    }
    function showEditModal() {
        $('#editModal').modal('show');
    }
    function hideEditModal() {
        $('#editModal').modal('hide');
    }

    function create() {
        var createLink = document.getElementById("createCategoryLink");
        //editLink.href = editLink.href.replace("", resourceId);
        $('#createModal').modal('show');
    }
    function showCreateModal() {
        $('#createModal').modal('show');
    }
    function hideCreateModal() {
        $('#createModal').modal('hide');
    }

</script>
